<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316603944477-g0ld0qpr8sfrui7i054v8mj4oiale0u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316603944477-g0ld0qpr8sfrui7i054v8mj4oiale0u9</string>
	<key>API_KEY</key>
	<string>AIzaSyDaLV9Icko19cMnu814Cfe8Vrzpbejpsyo</string>
	<key>GCM_SENDER_ID</key>
	<string>316603944477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectopersonal</string>
	<key>PROJECT_ID</key>
	<string>geminis-aec9d</string>
	<key>STORAGE_BUCKET</key>
	<string>geminis-aec9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316603944477:ios:24d2c1e2ee3cb1e54a00f4</string>
</dict>
</plist>